{{ define "main" }}

{{ $currentContext := . }}

{{ with .Resources.GetMatch "header" }}
<div class="header-image-container">
    <img src="{{ .Permalink }}#full" class="header-image">
    <div class="overlay-content">
        <div {{ if $currentContext.Param "autonumber" }} class="autonumber" {{ end }}>
            <div class="single-intro-container">
                <h1 class="single-title">{{ $currentContext.Title }}</h1>
                {{ with $currentContext.Param "summary" }}
                <p class="single-summary">{{ . }}</p>
                {{ end }}
                <p class="single-readtime">
                    {{ with $currentContext.Date }}
                    {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
                    {{ $dateHuman := . | time.Format ":date_long" }}
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    {{ end }}
                    {{ if $currentContext.Param "readTime" }}
                    &nbsp; · &nbsp;
                    {{ $currentContext.ReadingTime }} min read
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="content-container">
  {{ if .Param "showTags" }}
  {{ $taxonomy := "tags" }}
  {{ with .Param $taxonomy }}
  <div class="single-tags">
    {{ range $index, $tag := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
    <span>
      <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    </span>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  {{ if .Param "toc" }}
  <aside class="toc">
    <p><strong>Table of contents</strong></p>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  <div class="single-content">
    {{ .Content }}
    {{ partial "comments.html" . }}
  </div>

  {{ if not (.Param "hidePagination") }}
  {{ partial "pagination-single.html" . }}
  {{ end }}

  {{ if not (.Param "hideBackToTop") }}
  <div class="back-to-top">
    <a href="#top">back to top</a>
  </div>
  {{ end }}
</div>

{{ end }}
